body{
    font: 15px/1.5 sans-serif, serif, Helvetica;
    padding: 0;
    margin: 0 10px;
    background-color: #f4f4f4d5;
    text-align: justify;
}

nav ul{
    text-align: center;
}
ul{
    text-decoration: none;
}

/* Header */
header{
    background-color: #35424a;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #eB491d 5px solid;
}

header h1{
   font-size: 50px;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #ffffff;
}

header img{
    border-radius: 50%;
    width: 150px;
    height: 150;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header ul{
    margin: 0 0 28px 0;
    padding: 0;
}

header li{
    padding: 0 35px 0 35px;
    display: inline;
}

header li a{
    text-decoration: none;
    color: #ffffff;
}

header li a:hover{
    background-color: #eB491d;
}

/* haedings */
h2, h3{
    color: cadetblue;
}

/* dates */
.date{
    float: right;
}
/* Skills */
.tweak{
    border-bottom: #eB491d 2px solid;
}

#side{
    border-bottom: none;
}

.form_container h3{
    color: #ffffff;
    text-align: center;
}

.form_container p{
    color: #ffffff;
    text-align: center;
}

.form_container{
    background-color: #eB491d;
    width: 350px;
    height: 490px;
    border-radius: 5px;
}

.form_container label{
    color: #ffffff98;
    font-size: 18px;
    margin: 10px;
}

.form_container input{
    width: 300px;
    margin: 10px;
    cursor: auto;
    border-radius: 5%;
}

.form_container textarea{
    width: 300px;
    height: 120px;
    margin: 10px;
    cursor: auto;
    border-radius: 5%;
}

.form_container button{
    float: left;
    margin: 0 10px 0 10px;
    background-color: #35424a;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5%;
}

.form_container button:hover{
    background-color: rgba(160, 95, 125, 0.808); 
}

/* footer region */
footer a{
    text-decoration: none;
    color: #ffffff;
}

.foot{
    color: #ffffff;
    position: static;
    border-top: #eB491d 2px solid;
    margin-top: 20px;
}

footer header p a:hover{
    background-color: #eB491d;
}
.foot p{
    color: #ffffff;
    text-align: left;
}
.foot li{
    text-align: left;
    float: left;
}
#last{
    text-align: center;
}

